body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding: 20px;
    margin: 0;
    line-height: 1.6;
}


h1 {
    color: #0D1117;
    font-size: 2.5em;
    margin-bottom: 10px;
}

nav {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #0D1117;
    font-weight: bold;
    transition: color 0.3s ease, transform 0.3s ease;
    padding: 8px 12px;
    border-radius: 4px;
}

nav a:hover {
    color: #007BFF;
    background-color: rgba(0, 123, 255, 0.1);
    transform: scale(1.05);
}

p {
    font-size: 18px;
    margin: 10px 0;
}

.task {
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.action-button {
    display: flex;
    gap: 5px;
}