{% extends 'layout.html' %}

{% block title %}
    ToDo List
{% endblock %}

{% block body %}
    <div class="container">
        <h1>{{ data.title }}</h1>
        <p>{{ data.description }}</p>
        <form action="/todo" method="POST" class="input-group mb-3">
            <input type="text" name="title" class="form-control" placeholder="Add a new task title..." required>
            <button class="btn btn-success" type="submit">Submit</button>
        </form>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Task</th>
                    <th>Status</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for task in data['tasks'] %}
                    <tr>
                        <td>{{ task.id }}</td>
                        <td>{{ task.title }}</td>
                        <td>
                            {% if task.completed %}
                                <span class="status complete" style="color: green">Complete</span>
                            {% else %}
                                <span class="status incomplete" style="color: red">Incomplete</span>
                            {% endif %}
                        </td>
                        <td class="action-button">
                            <a href="task/edit/{{ task.id }}" class="edit btn btn-warning">Edit</a>
                            <a href="task/delete/{{ task.id }}" class="delete btn btn-danger">Delete</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
